name: Surveillance des rabais

on:
  schedule:
    - cron: "0 8,20 * * *"   # 2 fois par jour
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run script
        run: |
          python test.py
